################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.meta
*.bak
*.user
bin/
obj/
/.vs

